#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=60s

if ! command -v devenv >/dev/null 2>&1; then
	echo "devenv is not installed. See https://devenv.sh" >&2
	exit 1
fi

watch_file .devenv/flake.json
watch_file .devenv.flake.nix
watch_file .env
watch_file devenv.local.nix
watch_file devenv.lock
watch_file devenv.nix
watch_file devenv.uv2nix.nix
watch_file devenv.yaml

eval "$(devenv print-dev-env)"
