# Python Build Artifacts
*.egg-info
*.pyc
__pycache__/

# Python Environments
.venv/
env/

# Testing & Coverage
coverage.json
.coverage
.pytest_cache/
htmlcov/

# Development Tools
.devenv*
.env
.vscode/
.idea/
.mypy_cache/
.pre-commit-config.yaml
devenv.local.nix

# Container Config
.devcontainer.json

# Documentation Build
_build/
docs/_site

# Robot Framework Output
log.html
output.xml
report.html
output/

# Secrets & Certificates
*.pem
.env

# Project-Specific
result
src/operaton/__init__.py
fixture/target/
TODO*
examples/
