name: Build and deploy docs
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v15
        with:
          name: datakurre
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Install devenv
        run: nix profile install --accept-flake-config github:cachix/devenv/latest
      - name: Build docs
        run: |
          devenv shell -- make build-docs
          touch docs/_build/html/.nojekyll
      - uses: JamesIves/github-pages-deploy-action@v4.7.2
        with:
          branch: gh-pages
          folder: docs/_build/html
          single-commit: true
